<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="prerender-status-code" content="503">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{{ sitename }}" />
    <meta name="description" content="{{ description }}" />

    <meta property="og:site_name" content="{{ sitename }}">
    <meta property="og:url" content="{{ site }}" />
    <meta property="og:locale" content="zh_CN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ sitename }}" />
    <meta property="og:description" content=" {{ description }}" />

    <title>{{ name }}</title>

    <link rel="shortcut icon" href="http://www.111ji.com/favicon.png" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>